# LIBRARIES

In [4]:
import pandas as pd
import numpy as np
import pymc3 as pm
import theano.tensor as tt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import yfinance as yf

WARN: Could not locate executable g77
WARN: Could not locate executable f77
WARN: Could not locate executable ifort
WARN: Could not locate executable ifl
WARN: Could not locate executable f90
WARN: Could not locate executable DF
WARN: Could not locate executable efl

WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

# INPUT TICKER

In [1]:
ticker = input('Type in the ticker of the stock: ')

Type in the ticker of the stock: AAPL

# INPUT START & END DATES TO DOWNLOAD DATA

In [2]:
start_date = input('Start date (YYYY-MM-DD): ')
end_date = input('End date (YYYY-MM-DD): ')

Start date (YYYY-MM-DD): 2021-01-01
End date (YYYY-MM-DD): 2022-12-31

# DOWNLOADING DATA

In [5]:
df = yf.download(ticker,start_date,end_date)
data = df

[*********************100%***********************]  1 of 1 completed

# PREPROCESS

In [7]:
data_new= df[-200:]
data = df[:-200]
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.503624,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,129.080078,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.735031,155088000
2021-01-07,128.360001,131.630005,127.860001,130.919998,128.991394,109578200
2021-01-08,132.429993,132.630005,130.229996,132.050003,130.104752,105158200
...,...,...,...,...,...,...
2022-03-10,160.199997,160.389999,155.979996,158.520004,157.347885,105342000
2022-03-11,158.929993,159.279999,154.500000,154.729996,153.585907,96970100
2022-03-14,151.449997,154.119995,150.100006,150.619995,149.506287,108732100
2022-03-15,150.899994,155.570007,150.380005,155.089996,153.943222,92964300
2022-03-16,157.050003,160.000000,154.460007,159.589996,158.409958,102300200

In [8]:
data.reset_index(drop=True, inplace=True)

In [9]:
# Define the feature and target variables
X = data[['Volume','Open']]  # Add the relevant features here
y = data['Adj Close']  # Assuming 'Close' column contains the target variable

In [10]:
# Normalize the feature variables
X = (X - X.mean()) / X.std()
X

       Volume      Open
0    1.839724 -0.703577
1    0.221767 -0.978369
2    2.257574 -1.047808
3    0.644126 -1.009824
4    0.487425 -0.768270
..        ...       ...
298  0.493941  0.879884
299  0.197134  0.804510
300  0.614130  0.360571
301  0.055118  0.327928
302  0.386101  0.692932

[303 rows x 2 columns]

In [11]:
# Define the BNN model
n_features = X.shape[1]

def construct_bnn():
    with pm.Model() as model:
        # Prior for the weights
        weights_in_1 = pm.Normal('w_in_1', mu=0, sd=1, shape=(n_features, 20))
        weights_1_out = pm.Normal('w_1_out', mu=0, sd=1, shape=(20,))
        
        # Prior for the biases
        biases_in_1 = pm.Normal('b_in_1', mu=0, sd=1, shape=(20,))
        bias_out = pm.Normal('b_out', mu=0, sd=1)
        
        # Define the neural network
        hidden = tt.nnet.relu(tt.dot(X, weights_in_1) + biases_in_1)
        output = pm.Deterministic('output', tt.dot(hidden, weights_1_out) + bias_out)
        
        # Likelihood of the observed target variable
        sigma = pm.HalfNormal('sigma', sd=1)
        likelihood = pm.Normal('y_obs', mu=output, sd=sigma, observed=y)
    
    return model

In [ ]:
# Build and sample from the BNN model
bnn_model = construct_bnn()
with bnn_model:
    trace = pm.sample(500, tune=500)

C:\Users\bviei\anaconda3\lib\site-packages\deprecat\classic.py:215: FutureWarning: In v4.0, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  return wrapped_(*args_, **kwargs_)
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (2 chains in 2 jobs)
NUTS: [sigma, b_out, b_in_1, w_1_out, w_in_1]

In [ ]:
# Predict using the BNN model
X_new = data_new  # Prepare the new input data for prediction
X_new = (X_new - X.mean()) / X.std()  # Normalize the new data using the same mean and standard deviation
with bnn_model:
    ppc = pm.sample_posterior_predictive(trace, samples=100, vars=[output])

In [ ]:
# Extract the predicted values
predicted_values = ppc['y_obs'].mean(axis=0)

In [ ]:
# Restore the original scale of the predicted values if needed
predicted_values = (predicted_values * y.std()) + y.mean()

In [ ]:
import matplotlib.pyplot as plt

# Plot the original and predicted stock prices
plt.figure(figsize=(14, 8))
plt.plot(data['Date'], data['Close'], label='Actual')
plt.plot(data['Date'], predicted_values, label='Predicted')
plt.xlabel('Date')
plt.ylabel('Stock Price')
plt.title('Actual vs Predicted Stock Prices')
plt.legend()
plt.show()